{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'donors/css/page3.css' %}?v=2">
</head>
<body>
      <!-- NAVBAR -->
  <nav class="navbar">
      
    
        <ul class="nav-links">
            <li><a href="/" class="active-link">Home</a></li>
            <li><a href="awareness">Why Donate?</a></li>
            <li><a href="register">Donate</a></li>
            <li><a href="request">Find Blood</a></li>
            <li><a href="userlogin">My Account</a></li>
        </ul>
  </nav>
  <form action="{% url 'DonorList'%}" method="POST">
   {% csrf_token %}
  <div class="page-center">
    <div class = "container">
    <h1>Patients Full Name</h1>
    <input type="text" id="name" name="name" placeholder="Enter Patients full name :" required></div>
    <div class ="container">
    <h1>Quantity of blood </h1>
    <input type="number" id="bag" name="bloodbag" min = "1" placeholder="Enter the quantity of blood (bag) :" required></div>
    <div class ="container">
    <h1>Contact Number :</h1>
    <input type="tel" id="num" name="num"  placeholder="Enter contact number  :" required></div>
    <div class="container">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" >
    </div>
    <div class="container">
      <h1> Patients Blood Group</h1>
      <select id="bldgrp" name="bldgrp">
        <option value=""> Select Blood Group </option>
        <option value="A+">A+ </option>
        <option value="A-">A- </option>
        <option value="B+">B+ </option>
        <option value="B-"> B- </option>
        <option value="AB+"> AB+ </option>
        <option value="AB-"> AB- </option>
        <option value="O+">O+ </option>
        <option value="O-">O- </option>
      </select>
    </div>

    
    <div class="container">
      <h1>Location: Bangladesh</h1>
      
      <label>Division</label>
      <select id="division" onchange="loadDistricts()" name="division">
        <option value=""> Select Division </option>
        <option value="dhaka">Dhaka</option>
        <option value="chattogram">Chattogram</option>
        <option value="rajshahi">Rajshahi</option>
        <option value="khulna">Khulna</option>
        <option value="barishal">Barishal</option>
        <option value="sylhet">Sylhet</option>
        <option value="rangpur">Rangpur</option>
        <option value="mymensingh">Mymensingh</option>
      </select>

      <label>District</label>
      <select id="district" name="district" >
        <option value=""> Select District </option>

      </select>
      

    </div>
    <div class="container">
    <h1>Hospital's name and address :</h1>
    <input type="text" id="hlocation" name="hlocation"  placeholder="Enter hospital's name and address   :" required></div>
    
   <div class="container">
      <h1>Urgency</h1>
      <select id="urgency" name="urgency" required>
        <option value=""> Select Urgency Options </option>
        <option value="asap">Emergency</option>
        <option value="custom"> Non-Urgent</option>
      </select>
      
      
      
    </div>

    <div class="container">
      <label for="request_date">Request creation date</label>
      <input type="date" id="request_date" name="request_at" required> 

    </div>
    
    <div class="container center-button">
      <button id="searchbtn"  >Search Donors</button>
    </div>

  </div>
  </div>
 </form>
      <!-- FOOTER -->
    <footer>
        <p>© 2026 Blood Bridge &nbsp;·&nbsp; <a href="awareness">Why Donate?</a> &nbsp;·&nbsp; <a href="register">Donate Now</a></p>
    </footer>
  <script src="{%static 'donors/css/page3.js'%}?v=2"></script>
</body>
</html>